*
{
    font-size: 18px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
box-sizing: border-box;
}
.container
{
    padding: 0 60px;
}
.headingcntent
{
    text-align: center;
    font-size: 2rem;
    color: gold;
    margin-bottom: 1rem;
}
.row
{
    display: flex;
    flex-wrap: wrap;
}
section
{
    padding-top: 60px;
    padding-bottom: 60px;
}
/* <!-- navbar start --> */
.navbar
{
    background-color: #123456;
    padding: 15px 0px;
}
.nav-brand
{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-brand>.nav-logo>a
{
    text-decoration: none;
    color: white;
}
.nav-menu>.nav-iteam
{
    list-style: none;
    display: inline;
}
.nav-menu>.nav-iteam>.nav-link
{
    text-decoration: none;
    color: white;
    padding: 15px;
}
/* <!-- navbar end --> */
.homeimage
{
    background-image:url("/Images/sd.jpg") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width:100%;
}

.imgsection
{
    width:50%;
    
    height:80vh;

}
.contentsection
{
    width:50%;
 padding: 0px 25px;
}
.imgsection>.abtimg
{
    background:url("/Images/sd.jpg") no-repeat center center ;
    background-size: cover;
    height: 80vh;
    width:100%;
    box-shadow: -3px -3px 2px 2px gray;

    padding: 0px 20px;
}
.contentsection>p{
    text-align: justify;
    box-shadow: 3px 3px 2px 2px gray;
    padding: 10px;
}
.imageattach
{
    background-image:linear-gradient(to bottom,#ff000057,#0000ffa8),url("/Images/tech.jpg") ;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width:100%;

}
.card{
    margin: 10px;
    width:30%;
    box-sizing: border-box;
    padding: 5px 10px;
    box-shadow: 3px 3px 5px 5px gray;

}

.card>.card_image
{
    background-image:url("/Images/tech.jpg") ;
   
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    width:100%;
}
.card-title
{
    text-align: center;
    color: blue;
    font-size: 1.5rem;
    margin:5px 0px;
}
.card-details
{
    text-align: center;
}

.card-footer
{
    padding: 10px;
}
.btn
{
    padding: 10px 5px;
    text-decoration: none;
    
}
.btn-primary
{
    color: white;
    background-color: gold;
    margin:0px auto;
    display: block;
    width:50%;
    text-align: center;
}
.btn-primary:hover
{
    background-color: orange;
    color: black;
}
.mapsection
{
    width:60%;
    height: ;
}
.cntform
{
    width:40%;
    padding: 25px 50px;
    /* box-shadow: 10px 10px 15px 10px gray;
    margin-left:  10px ; */
}
.form-group
{
    margin-bottom: 25px;
}
.textbxlayout
{
    width:100%;
    
}

.form-control 

{
    width:100%;

}


.border-control
{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 5px solid green;
    border-radius: 10px;
}
::placeholder
{
    color: red;
    text-align: center;
}
footer
{
    padding: 30px 20px 10px;
    background-color: #123456;
    color: white;
text-align: center;}